<ion-tabs>

  <ion-tab tab="home">
    <app-inicio/>
  </ion-tab>
  <ion-tab tab="navigate">
    <app-searchbar/>
  </ion-tab>
  <ion-tab tab="send">
    <app-list/>
  </ion-tab>

  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="ion-text-capitalize">home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="navigate">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label class="ion-text-capitalize">navigate</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="send">
      <ion-icon name="send-outline"></ion-icon>
      <ion-label class="ion-text-capitalize">send</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>